/* Header Container - Matching original Elementor structure */
.elementor-3080 .elementor-element.elementor-element-433ca67c {
  --display: flex;
  --min-height: 60px;
  --flex-direction: row;
  --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
  --container-widget-height: 100%;
  --container-widget-flex-grow: 1;
  --container-widget-align-self: stretch;
  --flex-wrap-mobile: wrap;
  --justify-content: space-between;
  --align-items: center;
  --gap: 0px 0px;
  --row-gap: 0px;
  --column-gap: 0px;
  --padding-top: 1%;
  --padding-bottom: 1%;
  --padding-left: 8%;
  --padding-right: 8%;
  --z-index: 95;

  display: flex;
  min-height: 60px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 8%;
  padding-right: 8%;
  position: sticky;
  top: 0;
  z-index: 95;
}

.elementor-3080 .elementor-element.elementor-element-433ca67c:not(.elementor-motion-effects-element-type-background),
.elementor-3080 .elementor-element.elementor-element-433ca67c > .elementor-motion-effects-container > .elementor-motion-effects-layer {
  background-color: #ffffff;
}

.elementor-3080 .elementor-element.elementor-element-7e925246 {
  text-align: left;
}

.elementor-3080 .elementor-element.elementor-element-7e925246 img {
  width: 100%;
  height: 60px;
  object-fit: contain;
  object-position: center center;
}

/* Navigation Menu */
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-menu-toggle {
  margin-left: auto;
  background-color: #02010100;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu .elementor-item {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 0px;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main .elementor-item {
  color: #1c244b;
  fill: #1c244b;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main .elementor-item:hover,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main .elementor-item.elementor-item-active,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main .elementor-item.highlighted,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main .elementor-item:focus {
  color: #324a6d;
  fill: #324a6d;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main .elementor-item.elementor-item-active {
  color: #324a6d;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 {
  --e-nav-menu-horizontal-menu-item-margin: calc(30px / 2);
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
  margin-bottom: 30px;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown a,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-menu-toggle {
  color: #1c244b;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown {
  background-color: #f3f5f8;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown a:hover,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown a.elementor-item-active,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown a.highlighted {
  background-color: #f9fafd;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown a.elementor-item-active {
  background-color: #f9fafd;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown .elementor-item,
.elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown .elementor-sub-item {
  font-family: "Poppins", Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  font-style: normal;
  text-decoration: none;
  letter-spacing: 0px;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 div.elementor-menu-toggle {
  color: #467ff7;
}

.elementor-3080 .elementor-element.elementor-element-609ca708 div.elementor-menu-toggle svg {
  fill: #467ff7;
}

/* Button */
.elementor-3080 .elementor-element.elementor-element-2a6eb88 .elementor-button-content-wrapper {
  flex-direction: row-reverse;
}

.elementor-3080 .elementor-element.elementor-element-2a6eb88 .elementor-button .elementor-button-content-wrapper {
  gap: 5px;
}

.elementor-3080 .elementor-element.elementor-element-2a6eb88 .elementor-button {
  font-weight: 600;
  border-radius: 30px 30px 30px 30px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
  .elementor-3080 .elementor-element.elementor-element-433ca67c {
    --padding-top: 0%;
    --padding-bottom: 0%;
    --padding-left: 5%;
    --padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left: 5%;
    padding-right: 5%;
  }

  .elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu .elementor-item {
    font-size: 14px;
  }

  .elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown .elementor-item,
  .elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown .elementor-sub-item {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .elementor-3080 .elementor-element.elementor-element-433ca67c {
    --min-height: 50px;
    --padding-top: 2%;
    --padding-bottom: 2%;
    --padding-left: 2%;
    --padding-right: 2%;
    min-height: 50px;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
  }

  .elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--dropdown a {
    padding-top: 14px;
    padding-bottom: 14px;
  }

  .elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown,
  .elementor-3080 .elementor-element.elementor-element-609ca708 .elementor-nav-menu__container.elementor-nav-menu--dropdown {
    margin-top: 15px !important;
  }

  .elementor-3080 .elementor-element.elementor-element-609ca708 {
    --nav-menu-icon-size: 20px;
  }
}
